body {
  background-color: rgb(113, 209, 206);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.responvivebutton {
  max-width: 100%;
  margin-left: 10px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.col-sm-2 {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.forecast-time {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.inputcity {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
.buttonsearch {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}
.buttonsearch:hover {
  background-color: #212529;
  color: white;
}
